---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075502/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - none of yo bizzness
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '32'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 1234,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-08T21:42:01Z",
            "accepted_at": "2014-05-08T21:42:01Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "Some name",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "accepted",
            "requested_by_id": 1308466,
            "project_id": 1075502,
            "url": "https://www.pivotaltracker.com/story/show/70885510",
            "owner_ids": [
              1256906
            ],
            "labels": [

            ],
            "owned_by_id": 1256906
          }
        ]
  recorded_at: Fri, 09 May 2014 19:42:19 GMT
recorded_with: VCR 2.9.0
