---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075502/stories/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - none of yo bizzness
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '32'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70885510,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-08T21:42:01Z",
            "accepted_at": "2014-05-08T21:42:01Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "accepted",
            "requested_by_id": 1308466,
            "project_id": 1075502,
            "url": "https://www.pivotaltracker.com/story/show/70885510",
            "owner_ids": [
              1256906
            ],
            "labels": [

            ],
            "owned_by_id": 1256906
          },
          {
            "kind": "story",
            "id": 70885512,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-08T21:42:42Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I'm go to the homepage\nWhen I click on a project\nI see a list of all of that projects stories",
            "current_state": "rejec[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075502/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - none of yo bizzness
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '32'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Of[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075502/stories/70885510?fields=comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - none of yo bizzness
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '32'
    body:
      encoding: UTF-8
      string: |-
        {
          "comments": [
            {
              "kind": "comment",
              "id": 68662228,
              "story_id": 70885510,
              "text": "This is a test comment on the first story",
              "person_id": 534749,
              "created_at": "2014-05-06T00:00:00Z",
              "updated_at": "2014-05-07T19:11:53Z"
            },
            {
              "kind": "comment",
              "id": 68662230,
              "story_id": 70885510,
              "text": "This is a second test comment on the first story",
              "person_id": 534749,
              "created_at": "2014-05-06T00:00:00Z",
              "updated_at": "2014-05-07T19:11:53Z"
            },
            {
              "kind": "comment",
              "id": 68665006,
              "story_id": 70885510,
              "text": "Commit by Ellie Schneiders\nhttps://github.com/ems2141/schneiders-platzer-trackerhub/commit/109540f5e6b025873c04d0b024486f59ad249b42\n\n[#70885510] Initial Commit\n\nTesting webhooks",
              "person_id": 1256912,
              "created_at": "2014-05-07T19:29:23Z",
              "updated_at": "2014-05-07T19:29:23Z",
              "commit_identifier": "109540f5e6b025873c04d0b024486f59ad249b42",
              "commit_type": "github"
            },
            {
              "kind": "comment",
              "id": 68678630,
              "story_id": 70885510,
              "text": "Commit by EmilyPlatzer\nhttps://github.com/ems2141/schneiders-platzer-trackerhub/commit/4009b54919a2f808a286aa4b8a0b16df8c0e8932\n\n[#70885510] As a user, I can view all of my projects",
              "person_id": 1256912,
              "created_at": "2014-05-07T21:20:04Z",
              "updated_at": "2014-05-07T21:20:04Z",
              "commit_identifier": "4009b54919a2f808a286aa4b8a0b16df8c0e8932",
              "commit_type": "github"
            },
            {
              "kind": "comment",
              "id": 68788830,
              "story_id": 70885510,
              "text": "No staging heroku\n",
              "person_id": 1308466,
              "created_at": "2014-05-08T21:20:27Z",
              "updated_at": "2014-05-08T21:20:27Z"
            }
          ],
          "id": 70885510
        }
  recorded_at: Fri, 09 May 2014 20:08:20 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075502/stories/70885522?fields=comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - none of yo bizzness
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '32'
    body:
      encoding: UTF-8
      string: |-
        {
          "comments": [

          ],
          "id": 70885522
        }
  recorded_at: Fri, 09 May 2014 20:08:22 GMT
recorded_with: VCR 2.9.0
