---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - none of yo bizzness
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 1075502,
            "kind": "project",
            "name": "Schneiders and Platzer's TrackerHub",
            "version": 14,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",
              "olson_name": "America/Los_Angeles",
              "offset": "-07:00"
            },
            "velocity_averaged_over": 3,
            "number_of_done_iterations_to_show": 12,
            "has_google_domain": false,
            "enable_incoming_emails": true,
            "initial_velocity": 10,
            "public": false,
            "atom_enabled": false,
            "start_time": "2014-05-05T07:00:00Z",
            "created_at": "2014-05-07T19:09:37Z",
            "updated_at": "2014-05-07T19:48:02Z",
            "account_id": 622224,
            "current_iteration_number": 1,
            "enable_following": true
          },
          {
            "id": 1029432,
            "kind": "project",
            "name": "EmilyPlatzer",
            "version": 922,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone"[...]
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075502/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - none of yo bizzness
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '14'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70885510,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-07T21:19:07Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "delivered",
            "requested_by_id": 1308466,
            "project_id": 1075502,
            "url": "https://www.pivotaltracker.com/story/show/70885510",
            "owner_ids": [
              1256906
            ],
            "labels": [

            ],
            "owned_by_id": 1256906
          },
          {
            "kind": "story",
            "id": 70885512,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-07T19:11:53Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I'm go to the homepage\nWhen I click on a project\nI see a list of all of that projects stories",
            "current_state": "unsta[...]
